@import '../common.module.scss';

.column {

  & > * {
    padding: 15px;
  }

  .title{
    background-color: $dusk;
    color: white;
    font-weight: 600;
  }

  .item {
    background-color: white;

    display: flex;
    justify-content: space-between;

    .itemName {
      flex-grow: 1;
      padding: 0px 9px;
    }
  }

}
