@import '../sizes';
@import '../common.module.scss';

.container {
  display: flex;

  // grow all lists
  & > * {
    flex-grow: 1;
  }
  
  // gutter all lists
  & > * {
    margin: $gap-xxl 0px $gap-xxl $gap-xxl;
    flex-grow: 1;
  }
  & > *:last-child {
    margin-right: $gap-xxl;
  }

}
