@import '../common.module.scss';

.list {

  & > * {
    padding: $gap-lg;
  }

  .title{
    background-color: $dusk;
    color: $white;
    font-weight: 600;
  }

  .item {
    background-color: white;

    display: flex;
    justify-content: space-between;

    & > *:not(:first-child) {
      margin-left: $gap-sm;
    }
    .itemName {
      flex-grow: 1;
    }
  }

}
